---
import HtmlIcon from "./icons/HtmlIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import SqlIcon from "./icons/SqlIcon.astro";
import SocialPill from "./SocialPill.astro";

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-black text-[#e34c26]",
        icon: HtmlIcon,
    },
    JAVA: {
        name: "Java",
        class: "bg-black text-[#5382a1]",
        icon: JavaIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-black text-[#264de4]",
        icon: CssIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black text-[#f0db4f]",
        icon: JavaScriptIcon,
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-black text-[#563d7c]",
        icon: Bootstrap,
    },
    SQL: {
        name: "MySQL",
        class: "bg-black text-[#00758f]",
        icon: SqlIcon,
    },
}
const PROJECTS = [
    {
        title: 'Inicio de Sesión y Registro',
        description: 'Sistema de Inicio de Sesión y Registro de Usuarios mediante conexión a Bases de Datos e interfaces gráficas. Uso de contraseñas hasheadas.',
        link: '',
        github: 'https://github.com/andrearoldandev/ProyectoFinalCP3',
        image: '/projects/Proyecto1.webp',
        tags: [TAGS.JAVA, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.SQL]
    },
    {
        title: 'La Bombonería',
        description: 'Página Web diseñada para el Certificado de Profesionalidad de Programación Orientada a Objetos y Bases de Datos Relacionales. Landing Page de una Bombonería de lujo.',
        link: 'https://andrearoldandev.github.io/la_bomboneria/',
        github: 'https://github.com/andrearoldandev/la_bomboneria',
        image: '/projects/Proyecto2.webp',
        tags: [TAGS.HTML, TAGS.CSS]
    },
    {
        title: 'AraDigitalArt Blog',
        description: 'Página Web diseñada para el Certificado de Profesionalidad de Programación Orientada a Objetos y Bases de Datos Relacionales. Landing Page de un Blog de arte donde tengo mis dibujos y diseños 3D más importantes.',
        link: 'https://andrearoldandev.github.io/ara_digitalart/',
        github: 'https://github.com/andrearoldandev/ara_digitalart',
        image: '/projects/Proyecto3.webp',
        tags: [TAGS.HTML, TAGS.CSS, TAGS.BOOTSTRAP]
    }
]
---

{
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
        <article>
            <h3 class="text-2xl font-semibold text-blue-400 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <a class={`
                rounded-full border border-white/10 
                flex justify-center items-center gap-x-2 mb-2 
                py-1 px-2 md:py-2 md:px-4 bg-white/5 
                text-xs md:text-base
                hover:scale-110 hover:bg-white/10 
                transition
                `}
                { ...Astro.props}
                target="_blank"
                rel="noopener noreferrer"
                href={link}>Click para visitar la página
                
            </a>
            <a class={`
                rounded-full border border-white/10 
                flex justify-center items-center gap-x-2 mb-4 
                py-1 px-2 md:py-2 md:px-4 bg-white/5 
                text-xs md:text-base
                hover:scale-110 hover:bg-white/10 
                transition
                `}
                { ...Astro.props}
                target="_blank"
                rel="noopener noreferrer"
                href={github}>GitHub
                
            </a>
            <ul class="flex gap-x-2 flex-row">
                
                {tags.map((tag) => (
                    <li>
                        <span class={` rounded-full border border-white/10 
                            flex justify-center items-center gap-x-2 
                            py-1 px-2 md:py-2 md:px-4 bg-white/5 
                            text-xs md:text-base
                            hover:scale-110 hover:bg-white/10 
                            transition ${tag.class} py-1 px-2 mb-4`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>     
                ))
                }
            </ul>
            <img 
                class="rounded shadow-2xl shadow-white/15 mb-10"
                src={image} 
                alt={`Captura de pantalla del proyecto ${image}`} />
        </article>
    ))
}